In [1]:
import numpy as np
import pandas as pd

In [3]:
import os

In [7]:
DATAPATH = "../data/fantasy-data-nba-regular"
os.listdir(DATAPATH)

['fantasy-data-nba-regular-2015.csv',
 'fantasy-data-nba-regular-2014.csv',
 'fantasy-data-nba-regular-2016.csv',
 'fantasy-data-nba-regular-2017.csv',
 'fantasy-data-nba-regular-2013.csv',
 'fantasy-data-nba-regular-2012.csv',
 'fantasy-data-nba-regular-2010.csv',
 'fantasy-data-nba-regular-2011.csv',
 'fantasy-data-nba-regular-2020.csv',
 'fantasy-data-nba-regular-2021.csv',
 'fantasy-data-nba-regular-2009.csv',
 'fantasy-data-nba-regular-2022.csv',
 'fantasy-data-nba-regular-2019.csv',
 'nba-fantasy-regular-columns.csv',
 'fantasy-data-nba-regular-2018.csv']

In [8]:
df2009 = pd.read_csv(DATAPATH+"/fantasy-data-nba-regular-2009.csv")

In [9]:
df2009.head()

,RK,NAME,TEAM,POS,GMS,PTS,REB,AST,BLK,STL,...,FTP,3PP,FTM,2PM,3PM,TO,MIN,DD2,TD3,FPTS
0,1,LeBron James,CLE,SF,81,2304,613,587,93,137,...,78.0,34.4,594,657,132,241,3054,29,7,4139.1
1,2,Dwyane Wade,MIA,SG,79,2386,398,589,106,173,...,76.5,31.7,590,766,88,272,3048,20,0,4033.1
2,3,Chris Paul,NO,PG,78,1781,432,861,10,216,...,86.8,36.4,455,567,64,231,3002,50,6,3811.9
3,4,Dwight Howard,ORL,C,79,1624,1093,112,231,77,...,59.4,0.0,504,560,0,240,2821,63,1,3479.6
4,5,Kobe Bryant,LAL,SF,82,2201,429,399,37,120,...,85.6,35.1,483,682,118,210,2960,8,2,3418.3

# feature normalization steps
* discretize name, team, pos (one-hot encoding)
* split data into train/test
* normalize train data and test data based on train data stats
* save the dataset

In [12]:
df2009.NAME.unique().shape

(437,)

In [13]:
df2009.TEAM.unique().shape

(30,)